* {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1F2937;
}

.header__menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17%;
}

.header__logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.header__list {
  color: #E5E7EB;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header__main {
  padding: 100px 17%;
  display: flex;
  flex-direction: row;
}

.header__title {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.header__text {
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 400;
}

.button {
  background-color: #3882F6;
  height: 35px;
  width: 130px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__text {
  font-weight: 500;
  color: #F9FAF8;
}

.information__title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding: 20px;
}

.information__container {
  padding: 30px 22% 50px 22%;
  display: flex;
  justify-content: space-between;
}

.information__card {
  max-width: 170px;
}

.information__image {
  width: 100%;
  max-height: 170px;
  border-radius: 12px;
}

.information__text {
  text-align: center;
  font-size: 18px;
  font-family: 400;
  color: #5D6570;
}

.footer {
  background-color: #1F2937;
}
