* {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    height: 400px;
}

    &__menu-container {
    display: flex;
    margin: auto;
    }

        &_left {
            width: 50%;
        }

        &_right {
            display: flex;
            width: 50%;
        }

    &__logo {
    }

    &__list {
    }

    &__item {
    }

    &__main {
    }

    &__main_left {
    }

    &__title {
        font-size: 48px;
        font-weight: bolder;
        color: #F9FAF8;
    }

    &__text {
        font-size: 18px;
        color: #E5E7EB;
    }



    &__main_right {
    }

    &__image {
    }

.button {
}

    &__text {
    }

.information {
}

    &__title {
    }

    &__container {
    }

    &__card {
    }

    &__image {
    }

    &__text {
    }

.quote {
}

    &__text {
    }

    &__author {
    }

.cta {
}

    &__container {
    }

    &__title {
    }

    &__text {
    }

    &__button {
    }

        &-text {
        }

.footer {
    background-color: #1F2937;
}

    &__copyright {
    }
