* {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;


    &__menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 17%;

        &_left {
        }

        &_right {
            
        }

    }

    &__logo {
        font-size: 24px;
        color: #F9FAF8;
        font-weight: 900;
    }

    &__list {
        color: #E5E7EB;
        list-style: none;
        display: flex;
        gap: 30px;
    }

    &__item {

        }

    &__main {
        padding: 100px 17%;
        display: flex;
        flex-direction: row;
    

        &_left {
            
        }

        &_right {
            
        }
}

    &__title {
        font-size: 48px;
        font-weight: 900;
        color: #F9FAF8;
    }

    &__text {
        font-size: 18px;
        color: #E5E7EB;
        font-weight: 400;
    }


    &__image {
    }

}

.button {
    background-color: #3882F6;
    height: 35px;
    width: 130px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-weight: 500;
        color: #F9FAF8;
        
    }

}    

.information {

    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 900;
        color: #1F2937;
        padding: 20px;
    }

    &__container {
        padding: 30px 22% 50px 22%;
        display: flex;
        justify-content: space-between;
    }

    &__card {
        max-width: 170px;
    }

    &__image {
        width: 100%;
        max-height: 170px;
        border-radius: 12px;
    }

    &__text {
        text-align: center;
        font-size: 18px;
        font-family: 400;
        color: #5D6570;
    }

}

.quote {
    background-color: #E5E7EB;
    padding: 30px 22% 50px 22%;

    &__text {
        font-size: 36px;
        font-style: italic;
        font-weight: 100;
        color: #1F2937;
    }

    &__author {
        text-align: end;
        font-size: 25px;
        font-weight: 900;
    }

}

.cta {

    &__container {
    }

    &__title {
    }

    &__text {
    }

    &__button {
    

        &-text {
        }
    }
    }

.footer {
    background-color: #1F2937;


    &__copyright {
    }
}